div.frame1{
  position: relative;
  z-index: 20;
}


/*START メッセージレイアウト１*/
span.msg01 {
  display: inline-block;
  color: #364e96;/*文字色*/
  padding: 1.0em 1.0em;/*上下、左右の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
  /*border: solid 3px #364e96;*/
}
/*END メッセージレイアウト１ */


/* --- ↓Start 画面レイアウト全体 ---*/
div.box26 {
    position: relative;
    margin: 1em 1em;
    padding: 2em 0em 2em 0em;  /*top left bottom right*/
    border: solid 3px #95ccff;
    border-radius: 10px;
    width: 90%;
}

.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -15px;
    left: 10px;
    padding: 0 15px;
    line-height: 1;
    font-size: 35px;
    background: #FFF;
    color: #148eff;
    font-weight: bold;
}
/* --- ↑End 画面レイアウト全体 ---*/


/*START　TD:登録データ状況欄*/
td.td_layout1 {
  /*background-color: #bde9ba;*/
  display: inline-block;
  width:25%;
  text-align: center;
  vertical-align: middle;
  margin-left:100px;
  margin-top:20px;
  font-size: 12pt;
  border-bottom: solid 2px #364e96;/*下線*/
}

td.td_layout2 {
  display: inline-block;
  width:10%;
  font-size: 12pt;
  text-align: left;
  vertical-align: middle;
  color: #364e96;
  font-weight: bold;
  padding-left: 20px;
  margin-top:20px;
}
/*↑End TD:登録データ状況欄---*/


/*↓↓↓↓↓ START 「よく使う機能」欄*/
div.layout01 td {
  display:inline-block;
  margin-top: 20px;
  margin-left: 60px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 4px;
  /*border: 2px solid #241cff;
  background-color: #030076;
  color:#ffffff;
  border-left: solid 6px #7a7a7a; */ /*左線*/
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  /*width:25%;*/
  /*position:relative;
  text-align:center;*/
}

.layout01 td:hover{
    background-color: #ffffff;
    /*border: 2px solid #241cff;*/
    border-left: solid 6px #030076;/*左線*/
    transition: .3s;
    color:#000000;
}

.layout01 td:active{
  box-shadow:inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
/* ↑↑↑↑↑　END 「よく使う機能」欄*/

/* --- ↓↓↓↓↓　START「information」欄のレイアウト全体 ---*/
div.outer-line01 {
  position: relative;
  margin: 2em 2em;
  padding: 1em 1em;
  border: solid 3px #95ccff;
  border-radius: 10px;
  width: 90%;
}
/* --- ↑↑↑↑↑　END「information」欄のレイアウト全体 ---*/

/*　---↓↓↓↓↓ START「information」欄*/
div.info-title{
  display:inline-block;
  border-left: 10px solid #13008f;
  /*border-right: 10px solid #13008f; */
  border-radius: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom:5px;
  margin-left: 50px;
  background-color: #ffffff;/*#e9e9ff; */
}

div.info1 ul li{
  position: relative;
  display:inline-block;
  margin-top: 10px;
  margin-left: 100px;
  /*background-color: #e9e9ff;*/
  /*border-right: 2px solid #13008f;*/
  border-bottom: 5px solid #13008f;
  width:20%;
  border-radius:0px;
  text-align:center;
}

div.info1 ul li:after{
  position: absolute;
  border-bottom: 5px solid #b3b3ff;
  content: "";
  top: 24px;
  width:30%;
  /*border-radius: 4px;*/
  /*border-left: solid 6px #13008f;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);*/
}

div.info2 ul li{
  position: relative;
  display:inline-block;
  margin-top: 10px;
  margin-left: 100px;
  /*background-color: #e9e9ff;*/
  width:20%;
  text-align:center;
  /*border-radius: 4px;*/
  /*border-left: solid 6px #13008f;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);*/

}
/*--- ↑↑↑↑↑　END「information」欄*/
